:root {
  --accent-color: #2196f3;
  --first-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #757575;
  --bkgr-color: #2f303a;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-color);
  font-size: 14px;
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  /* background-color: orange; */
}

/* -----------logo--------------- */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
  text-decoration: none;
  padding: 24px 0; /*стилизация*/
  display: block;
}

/* -----------header navigation--------------- */
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
}

.mail-tel {
  font-weight: 500;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.logo-web,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------------HERO--------------------------*/
.hero {
  padding: 200px 252px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  /* display: block; */
  /* width: 696px; */
  /* height: 120px; */
  padding: 200px 237px 30px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* display: flex; */
  /* display: inline-block; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 216px;
  height: 50px;
  /* padding: 0 300px; */
  /* border: 0; */
  margin-left: 477px;
  /* padding-bottom: 200px; */
}

.btn:hover,
.btn:focus {
  background: var(--gray-color);
}

/*-----------------Our advantages---------------------*/
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
}

.advantages-text {
  line-height: 1.71;
  color: inherit;
}

/*-----------------What do we do?---------------------*/
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--first-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--first-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.style-footer {
  background: var(--bkgr-color);
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.addres-footer {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.mail-tel-footer {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/*---------------------portfolio----------------*/
.btn-stile {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin: 6px 11px; 0; 11px;
}

.btn-stile:hover,
.btn-stile:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  /* flex-basis: auto; */
  /* padding-left: 22px; */
}
.picters-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  /* padding-bottom: 50px; */
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  /* display: inline-block; */
  /* margin: 120px 124 px; */
}
.name {
  display: inline-block;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}
